body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(209, 177, 207, 0.27);
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
}
.priority {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.high {
    background-color: #ffcccc; 
}
.medium {
    background-color: #ffffcc; 
}
.low {
    background-color: #ccf2ff;
}
.task-list {
    list-style-type: none;
    padding: 0;
}
.task {
    display: flex;
    align-items: center;
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.task.completed {
    text-decoration: line-through;
    color: #aaa;
}
input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-left: auto;
    padding: 9px;
    border: none;
    border-radius: 5px;
    background: #000000;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
button:hover {
    background: #94a898;
}
input[type="checkbox"] {
    margin-right: 10px;
}

.container { max-width: 600px; margin: auto; }

button { margin: 5px; padding: 8px; }

table { width: 100%; border-collapse: collapse; margin-top: 20px; }

th, td { border: 1px solid #ddd; padding: 10px; text-align: center; }
 th { background-color: #f4f4f4; }